body {
    background-image: url('../imagenes/Registro.png');
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
}

.content {
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    margin: 50px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Estilos del formulario */
.login-section {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #666;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #34a853;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #2c8c43;
}
